{% extends "base_generic.html" %}

{% block content %}
  <h1> {{ book.title }}</h1>
  <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Reviews</h4>


    {% for review in book.review_set.all %}

        <hr>
        <div><a href="{% url 'book-detail' book.pk %}">
          <p><strong>First_Name Last_Name:</strong> {{review.description}}</a></p>
            {% for reply in review.reply_set.all %}
              <p style="margin-left: 40px"><strong>First_Name Last_Name:</strong> {{reply.description}}</a></p>
            {% endfor %}
        <div>


    {% endfor %}
  </div>
{% endblock %}
